$color-white-smoke: rgb(245, 245, 245);
$color-white: rgb(255, 255, 255);
$color-tomato: rgb(255, 99, 71);
$color-black: rgb(0, 0, 0);
$color-dark-green: rgb(0, 143, 128);
$color-light-green: rgb(173, 246, 234);
$color-grey: rgb(128, 128, 128);
$color-light-grey: rgb(180, 180, 180);
$color-blue: rgb(0, 0, 255);
$color-white-blue: rgb(240, 248, 255);